:root {
    --primary: #8625D2;
    --black-100: #e5e6e0;
    --black-300: #e7e8e1;
    --black-500: #eaebe4;
    --black-700: #ecede6;
    --white: #000000;
    --gray: #848487;
    --success: #89DD13;
    --error: #FF413A;
}

[data-theme="dark"] {
    --primary: #8625D2;
    --black-100: #1A191F;
    --black-300: #18171E;
    --black-500: #15141B;
    --black-700: #131219;
    --white: #FFFFFF;
    --gray: #848487;
    --success: #89DD13;
    --error: #FF413A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--black-100);
}

.container {
    display: flex;
    height: 100vh;
}

.navbar {
    background: var(--black-700);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    width: 64px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
}

.navbar-header {
    cursor: pointer;
}

.icons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons span {
    cursor: pointer;
    line-height: 4;
    font-size: xx-large;
    /* Tamanho do ícone ajustado */
    color: var(--primary);
}

.main-content {
    flex: 1;
    margin-left: 45px;
    /* Espaço da navbar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Para alinhar os conteúdos à esquerda */
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.default-content,
.search-content,
.plus-content {
    background-color: bisque;
    height: 100%;
    width: 300px;
    /* Largura fixa dos formulários */
    position: relative;
    z-index: 2; 
}

.hidden {
    display: none;
}

#mainContent .search-content,
#mainContent .plus-content {
    display: none;
}

.map-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 64px;
    z-index: 1;
}

.map-content div {
    width: 100vw;
    height: 100vh;
    border: none;
}

.user-image {
    width: 32px;
    height: 32px;
    border-radius: 300px;
}

#map {
    position: static !important;
}
